.Follower-card{
    width: 100%;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background: var(--cardColor);
}

.Follower-card > h3 {
    padding-left: 1rem;
}

.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.follower:hover {
    background-color: var(--cardColor2);
}

.follower:nth-last-child(1):hover {
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.follower > div{
    display: flex;
    gap: 10px;
}

.follower-image{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.name>span:nth-of-type(1){
    font-weight: bold;
}


.fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}

