.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
}

.Auth > div {
    display: flex;
}

.a-left {
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.a-icon {
    height: 5rem;
    width: 5rem;
    color: #f9a225;
}

.Web-name > h1 {
    font-size: 3rem;
    background-color: red;

    background-image: var(--buttonBg);
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin: 0;
}

.Web-name > h6 {
    text-align: center;
    margin: 0;
    font-size: 0.85rem;
}

.info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    gap: 2rem;
}

.info-input {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.info-form > div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}
.btn-info {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.auth-form {
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.auth-form > div {
    width: 100%;
    align-items: center;
    justify-content: center;
}